*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    border: 5px solid red;
}

.container{
    border: 10px solid black;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.clock{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand{
    background: goldenrod;
    height: 6px;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%; 
    /* by default it is 50%. we do it 100 so that it can move from origin */
    
    /* Transition */
    
    /* transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.17, -0.32, 0.36, 0.69) */
}
.hour{
    width: 35%;
    left: 15%; 
}
.sec{
    background: red;
    height: 3px;
}